# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.py[cod]

# Django
backend/db.sqlite3
*.log

# Environment variables
backend/.env
frontend/.env
.env

# Node
frontend/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store